# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
ENV/
env/

# Ignore distribution / packaging
*.egg-info/
.eggs/
dist/
build/

# Ignore logs
*.log

# Ignore OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/


frontend
